@model VGSShop.Models.Product

@{
    ViewData["Title"] = "Xóa sản phẩm " + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Xóa sản sản phẩm : @Model.ProductName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm : @Model.ProductName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-danger font-weight-semibold">@Model.ProductId</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.ProductName</td>
                    </tr>

                    <tr>
                        <td>ảnh đại diện:</td>
                        <td>
                            <img width="250" height="250" src="~/images/product/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Xác nhận XÓA:</td>
                        <td>
                            <form asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@Model.ProductId">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="XÁC NHẬN XÓA" class="btn btn-danger" />                             
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




