@using PagedList.Core.Mvc
@using Newtonsoft.Json
@model PagedList.Core.IPagedList<VGSShop.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm : trang thứ @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width:200px;" asp-items="ViewBag.DanhMuc">
                                <option selected>Chọn tất cả </option>
                                <option value="0" disabled selected>Lọc theo danh mục</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminProducts" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm SẢN PHẨM</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th style="width: 30%">Tên sản phẩm</th>
                        <th style="width: 10%">Giá</th>
                        <th style="width: 10%">Tồn kho</th>
                        <th style="width: 10%">Trạng thái</th>
                        <th style="width: 30%"></th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ProductId">
                                <td style="width: 10%">@item.ProductId</td>
                                <td style="width: 30%">
                                    @item.ProductName
                                </td>
                                @*<td>@item.Cat.CatName</td>*@
                                <td style="width: 10%">@item.Price.ToString("#,##0") VNĐ</td>
                                <td style="width: 10%">@item.UnitslnStock</td>
                                <td style="width: 10%"><a href="#" class="btn-active btn btn-info btn-tone m-r-5" data-id="@item.ProductId">@Html.Raw(item.Active ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>
                                <td class="text-right" style="width: 30%">
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">Sửa</a>
                                    @*<a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>*@
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");

                var gvID = jQuery(this).children(":selected").attr("value");
                gvID = parseFloat(gvID);
                $('#txtTeacherID option')
                    .removeAttr('selected');
                $("#txtTeacherID > [value=" + gvID + "]").attr("selected", "true");

                $.ajax({
                    url: '/Admin/AdminProducts/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        TeacherID: gvID,
                        CatID: catID,
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('Đã xảy ra lỗi');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });

    </script>
    <script src="~/AdminAssets/js/controller/feedbackControllerScript.js"></script>
}