@model IEnumerable<VGSShop.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách quyền truy cập</h1>

<p>
    <a class="btn btn-primary m-r-5" asp-action="Create">Thêm mới</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                @*<th scope="col">Tên</th>*@
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @*<td>@item.Name</td>*@
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>@item.Content</td>
                        <td>
                            <a class="btn btn-warning btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                            <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>