@model List<Customer>


@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerId</td>
            <td>
                <p>@item.FullName</p>
                <p>@item.Phone</p>
                <p>@item.Email</p>
            </td>
            <td>@item.Adress</td>
            <td>@item.CreateDate</td>
            <td class="text-right">
                <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>

    }
}